* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  position: relative;
  min-height: 100%; }

body {
  color: #000000;
  font-family: 'Heebo', sans-serif;
  font-size: 1.25rem;
  position: realtive; }

h1, h2, h3, h4, h5 {
  font-family: 'Heebo', sans-serif;
  font-weight: 600; }

.container {
  width: 90%;
  margin: auto;
  max-width: 1440px; }

.btn {
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  cursor: pointer;
  box-shadow: none; }
  .btn--bold {
    font-weight: bold; }
  .btn--semi-bold {
    font-weight: 600; }
  .btn--md {
    font-size: 18px; }
  .btn--lg {
    font-size: 24px; }
  .btn--p-side-lg {
    padding-left: 40px;
    padding-right: 40px; }
  .btn--no-pad {
    padding: 0; }
  .btn--large-radius {
    border-radius: 60px; }
  .btn--upper {
    text-transform: uppercase; }
  .btn--sqr {
    border-radius: 0px; }
  .btn--bold {
    font-weight: bold; }
  .btn--block {
    display: block;
    width: 100%; }
  .btn--btn-60 {
    max-width: 60%;
    margin: auto; }
  .btn--l-marg {
    padding-left: 25px; }
  .btn--r-marg {
    padding-left: 25px; }
  .btn--side-pad {
    padding-left: 30px;
    padding-right: 30px; }
  .btn--text-center {
    text-align: center; }
  .btn--cfp-open {
    padding: 1rem 3rem;
    background: linear-gradient(128deg, #f04025 0%, #ff8900 100%);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 2rem; }
    .btn--cfp-open:hover {
      color: #fff; }

.font--popins {
  font-family: 'Heebo', sans-serif; }
.font--bold {
  font-weight: bold; }
.font--m-500 {
  font-weight: 500; }
.font--m-600 {
  font-weight: 500; }
.font--light {
  font-weight: 300; }

.color--white {
  color: #fff !important; }

.ul-inline-block {
  padding: 0;
  margin: 0; }
  .ul-inline-block li {
    display: inline-block; }

.ul-flex-row {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; }

.ul-flex-col {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: col; }

.psuedo-element-class {
  content: ' ';
  position: absolute;
  display: inline-block; }

.section {
  padding: 100px 0px; }
  .section .color-white {
    color: #fff; }
  .section .color-dark-grey {
    color: #222; }
  .section .color-purple {
    color: #917cb4; }
  .section--small-pad {
    padding: 40px 0px; }
  .section--medium-pad {
    padding: 60px 0px; }
  .section--large-pad {
    padding: 100px 0px; }
  .section--xlg-pad {
    padding: 120px 0px; }
  .section--no-pad {
    padding: 0px 0px; }
  .section--no-pad-top {
    padding-top: 0px; }
  .section--no-pad-btm {
    padding-bottom: 0px; }
  .section--purple-bg {
    color: #fff; }
  .section__heading {
    font-size: 3.5rem;
    font-weight: 600;
    margin: auto;
    margin-bottom: 2rem; }
    .section__heading--lg {
      font-size: 4.5rem; }
    .section__heading--sm {
      font-size: 2rem; }
    .section__heading--no-marg {
      margin: 0px; }
    .section__heading--no-tb-marg {
      margin-top: 0px;
      margin-bottom: 0px; }
    .section__heading--pad-lg {
      padding: 3rem 0; }
    .section__heading--white {
      color: #fff; }
    .section__heading--orange {
      color: #F48222; }
  .section--main-header {
    padding: 40px 0; }
  .section--purple {
    background: #4F0040; }
  .section--orange {
    background: transparent linear-gradient(112deg, #F25424 0%, #F47F22 100%) 0% 0% no-repeat padding-box; }
  .section--main-header {
    background: #4F0040;
    background: url("../img/bg-desktop.jpg") no-repeat #4F0040;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center; }

.info-section__desc {
  max-width: 720px;
  margin: auto;
  text-align: center; }
.info-section__img-wrap img {
  margin: auto;
  display: block; }
.info-section__heading {
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-weight: normal; }
  .info-section__heading--upper {
    text-transform: uppercase; }

.top-header-nav-wrap {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%; }

.main-top-navbar {
  padding: 0.5rem 0; }
  .main-top-navbar .navbar-brand {
    min-width: 240px; }
  .main-top-navbar .navbar-nav .nav-item {
    margin-right: 3.5rem;
    position: relative; }
    .main-top-navbar .navbar-nav .nav-item .dropdown-menu {
      transform: translate(-50%, 0);
      left: 50%; }
      .main-top-navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        font-weight: bold; }
    .main-top-navbar .navbar-nav .nav-item:last-of-type {
      margin-right: 0px; }
  .main-top-navbar .navbar-nav .nav-link {
    font-size: 1.15rem;
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 2px solid transparent;
    transition: all .4s;
    position: relative;
    outline: none; }
    .main-top-navbar .navbar-nav .nav-link:hover, .main-top-navbar .navbar-nav .nav-link:focus {
      color: #fff;
      border-bottom: 2px solid #fff; }

.header-main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4rem; }
  .header-main-content__info {
    width: 100%;
    max-width: 860px; }
  .header-main-content__main-heading {
    color: #F48222;
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 1.1; }
    .header-main-content__main-heading .sup-heading {
      font-size: 2rem;
      display: block;
      font-weight: normal;
      line-height: 1.5; }
  .header-main-content__sub-heading {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 3rem; }
  .header-main-content__main-desc {
    font-size: 1.15rem;
    margin-bottom: 1.5rem; }
  .header-main-content__btn-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .header-main-content__btn-wrap .tickets-info {
      font-size: 1.25rem;
      color: #fff; }
    .header-main-content__btn-wrap:before {
      content: " ";
      display: inline-block;
      position: absolute;
      top: 50%;
      height: 2px;
      background: #fff;
      width: 30%;
      left: 50%;
      transform: translate(-50%, -50%); }

.past-events__heading {
  color: #fff;
  padding-top: 2rem; }

.speaker-info-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .speaker-info-list__item {
    width: 30%;
    position: relative; }
    .speaker-info-list__item:before {
      position: absolute;
      content: ' ';
      top: 110px;
      left: 0;
      width: .25rem;
      height: calc(100% - 110px);
      background: #F48222; }
  .speaker-info-list__author-info {
    display: flex;
    margin-bottom: 1rem; }
    .speaker-info-list__author-info img {
      max-width: 90px;
      height: 90px;
      border-radius: 90px;
      margin-right: 1rem; }
    .speaker-info-list__author-info .social {
      display: flex;
      align-items: center;
      padding: 0px;
      margin: 0px; }
      .speaker-info-list__author-info .social li {
        display: inline-block;
        color: #4E033F;
        margin-right: 1rem; }
        .speaker-info-list__author-info .social li a {
          color: inherit; }
        .speaker-info-list__author-info .social li i {
          font-size: 1.5rem; }
  .speaker-info-list__author-bio {
    padding-left: 1.5rem; }
    .speaker-info-list__author-bio .name {
      font-size: 2rem;
      color: #4E033F;
      font-weight: 500; }

.schedule-date-list {
  border: 0px;
  margin-bottom: 2rem; }
  .schedule-date-list .nav-link {
    color: #F48222;
    border: 0px;
    border-top: 0.25rem solid #F48222;
    margin-right: 2rem;
    border-radius: 0px;
    padding: .5rem 0px; }
    .schedule-date-list .nav-link.active {
      background: transparent;
      color: #fff;
      border-color: .25rem solid #fff; }
    .schedule-date-list .nav-link .day {
      font-weight: 500; }

.schedule-talk-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px; }
  .schedule-talk-list__item {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background: #fff;
    overflow: hidden; }
  .schedule-talk-list__brief {
    padding: 2rem;
    min-width: 20%; }
    .schedule-talk-list__brief img {
      border-radius: 100%; }
    .schedule-talk-list__brief .time {
      font-size: 2rem;
      font-weight: 500;
      color: #F48222; }
    .schedule-talk-list__brief .author {
      color: #4E033F;
      font-weight: 500; }
  .schedule-talk-list__info {
    padding: 2rem;
    border-left: 0.25rem solid #F48222; }
  .schedule-talk-list__heading {
    font-size: 1.75rem;
    color: #4E033F;
    font-weight: 500; }
  .schedule-talk-list .btn-wrap a {
    color: #F48222;
    font-weight: 500; }
    .schedule-talk-list .btn-wrap a i {
      font-size: 1rem; }

.sponsors-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap; }
  .sponsors-list__item {
    display: block;
    width: 33%;
    margin-bottom: 2rem; }
    .sponsors-list__item img {
      margin-bottom: 1rem; }
    .sponsors-list__item .sponsor-name {
      font-size: 1.75rem;
      font-weight: normal;
      color: #4E033F; }

@media (max-width: 1199.98px) {
  .main-top-navbar .navbar-nav .nav-item {
    margin-right: 2rem; } }
@media (max-width: 991.98px) {
  body {
    font-size: 1rem; }

  .section {
    padding: 4rem 0; }
    .section--main-header {
      padding-top: 7rem;
      background: url(../img/bg-mobile.jpg) no-repeat #4F0040;
      background-size: cover; }
    .section__heading {
      font-size: 2rem; }

  .top-header-nav-wrap .container {
    padding: 0px; }

  .main-top-navbar .navbar-brand img {
    max-width: 160px; }
  .main-top-navbar .navbar-toggler {
    color: #F48222;
    border: 0px; }
  .main-top-navbar .navbar-nav {
    background: #4F0040;
    padding: 0 1rem; }
    .main-top-navbar .navbar-nav .nav-item {
      margin-right: 0px; }
      .main-top-navbar .navbar-nav .nav-item .dropdown-menu {
        z-index: 10000;
        position: relative;
        margin-bottom: .5rem; }
      .main-top-navbar .navbar-nav .nav-item:last-of-type {
        margin-right: 0px; }
    .main-top-navbar .navbar-nav .nav-link {
      border-bottom: 0px; }

  .header-main-content {
    flex-wrap: wrap;
    padding-top: 2rem; }
    .header-main-content__img-wrap {
      width: 100%;
      margin-bottom: 2rem; }
    .header-main-content__info {
      width: 100%; }
    .header-main-content__main-heading {
      font-size: 3rem; }
      .header-main-content__main-heading .sup-heading {
        font-size: 1.2rem; }
    .header-main-content__sub-heading {
      font-size: 1.3rem; }
    .header-main-content__main-desc {
      margin-bottom: 1rem; }
    .header-main-content__btn-wrap {
      flex-wrap: wrap; }
      .header-main-content__btn-wrap .btn--cfp-open {
        font-size: 1.25rem;
        padding: .5rem 2rem; }
      .header-main-content__btn-wrap:before {
        left: auto;
        right: 0;
        width: 40%;
        top: 20px;
        transform: translate(0, 0); }
      .header-main-content__btn-wrap .tickets-info {
        width: 100%;
        margin-top: 3rem; }

  .past-events__item {
    margin-bottom: 1rem; }
    .past-events__item:last-of-type {
      margin-bottom: 0px; }
  .past-events__heading {
    padding-top: 1rem; }

  .speaker-info-list__item {
    width: 100%;
    margin-bottom: 2rem; }
    .speaker-info-list__item:last-of-type {
      margin-bottom: 0px; }
  .speaker-info-list__author-bio .name {
    font-size: 1.5rem; }

  .schedule-talk-list__item {
    flex-wrap: wrap; }
  .schedule-talk-list__brief {
    width: 100%;
    padding: 1rem; }
  .schedule-talk-list__info {
    border-left: 0px;
    border-top: 2px solid #F48222;
    padding: 1rem; }
  .schedule-talk-list__heading {
    font-size: 1.25rem; }

  .sponsors-list__item {
    width: 100%;
    margin-bottom: 1rem; }
    .sponsors-list__item:last-of-type {
      margin-bottom: 0px; }
    .sponsors-list__item .sponsor-name {
      font-size: 1.25rem; } }
@media (max-width: 767.98px) {
  .header-main-content__btn-wrap:before {
    width: 100px; } }

/*# sourceMappingURL=style.css.map */
