$text-color: #000000;
$text-color-orange: #F48222;
$text-color-purple: #4E033F;
$text-color-purple-2: #4F0440;

$bg-color-purple: #4F0040;
$bg-color-purple-2: #DDD4D1;

$bg-color-orange-dark: #F04025;
$bg-color-orange-light: #FF8900;
